* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f2ef;
  font-family: "Prompt", sans-serif;
}

a,
button {
  font-family: "Rajdhani", sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
  color: #15805e;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem 2rem;
  width: 100vw;
  height: 10rem;
  max-height: 120px;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 60px;
  width: 60px;
}

header .logo h1 {
  margin-left: 2rem;
  font-weight: 200;
  font-size: 4rem;
}

header p {
  font-size: 1rem;
  font-weight: 200;
}

header p strong {
  font-size: 2rem;
  font-weight: 400;
  margin-left: 2rem;
}

section {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

section .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  height: 100%;
  width: 70%;
  max-width: 1250px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
}

section .container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 500px;
  max-width: 300px;
  border-right: 1px solid #6f7d7722;
  padding: 0 1rem;
}

section .container .form h1 {
  font-weight: 400;
  line-height: 1.2;
  color: #6bcdae;
  margin-bottom: 2rem;
  font-size: 2rem;
}

section .container .form h1 strong {
  color: #15805e;
  position: relative;
}

section .container .form h1 strong::before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 46px;
  width: 200px;
  height: 5px;
  border-radius: 50px;
  background: linear-gradient(to right, rgba(256, 256, 256, 0.2), #15805e);
}

section .container .form p {
  text-align: justify;
  margin: 2rem 1rem 0;
  color: #15805e;
}

section .container .form .colors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem;

  background-color: #f1faf7;
  border-radius: 8px;
  border: 2px solid #15805e25;
}
section .container .form .colors > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

section .container .form .colors label {
  margin-bottom: 0.5rem;
  color: #15805e;
}

section .container .form .colors input {
  background: transparent;
  border: none;
  width: 50px;
}

section .container .form .link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .container .form .link small {
  color: #15805e5f;
}

section .container .form .link div {
  flex: 1;
  margin-bottom: 1rem;
}

section .container .form .link label {
  color: #15805e;
  font-weight: 200;
  width: 24px;
}

section .container .form .link input {
  width: calc(100% - 30px);
  height: 30px;
  border: 2px solid #1dad7e;
  border-radius: 8px;
  padding: 10px;
}

section .container .form .link input::placeholder {
  color: #0a5a4127;
}

section .container .form .link button {
  height: 40px;
  width: 100%;
  padding: 4px;
  border-radius: 8px;
  background: #15805e;
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

section .container .result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}

section .container .result a {
  border-radius: 8px;
  padding: 2px 8px;
  margin-top: 2rem;
  font-size: 1.5rem;
  border-bottom: 2px solid #15805e;
}

section .container .result a i {
  margin-right: 2rem;
}

section .container .result #qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section .container .result #qrcode .cardLogo {
  width: 100px;
  height: 100px;
  margin: 3rem;
  opacity: 0.7;
}
section .container .result #qrcode p {
  color: #15805e2e;
  font-size: 2rem;
}
section .container .result a {
  visibility: visible;
}
section .container .result a.disable {
  visibility: hidden;
}

footer {
  bottom: 0;
  width: 100%;
  height: 2rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6f7d77;
}

footer img {
  width: 5rem;
}

@media (max-width: 1150px) {
  * {
    text-align: center;
  }

  header {
    justify-content: space-between;
  }

  section .container {
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  section .container .form {
    padding: 0.2rem;
    border-right: 0;
    border-bottom: 1px solid #6f7d7722;
  }

  section .container .form h1 {
    margin-bottom: 0.5rem;
  }

  section .container .form p {
    text-align: center;
    margin: 2rem auto 1rem;
  }

  section .container .form h1 strong::before {
    display: none;
  }
  section .container .result {
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 220px;
    height: 220px;
  }

  section .container .result #qrcode img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 720px) {
  header {
    justify-content: center;
  }

  header p {
    visibility: hidden;
    display: none;
  }

  section .container {
    flex-direction: column;
  }

  section .container .form h1 strong::before {
    display: initial;

    height: 4px;
    right: 70px;
  }
  footer {
    position: relative;
  }
}

@media (max-width: 340px) {

  header .logo h1 {
    font-size: 2rem;
  }
}
